/* Will be compiled down to a single stylesheet with your sass files */
.container-narrow{
    margin: 0 auto;
    max-width: 700px;
}

html{
    overflow-y: scroll;
}

#tweets {

}

#tweets li {
    list-style: none;
    border: 1px solid #AAA;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
}

.alert, .more{
    display: none;
}
